/* line 6, ../source/sass/test.scss */
body {
  height: 900px;
  font-family: "myfont";
}

/* line 10, ../source/sass/test.scss */
.i-container {
  position: fixed;
  top: 0;
  width: 100%;
}
/* line 14, ../source/sass/test.scss */
.i-container .menu-con {
  position: relative;
}
/* line 16, ../source/sass/test.scss */
.i-container .menu-con .i-header-lists {
  position: relative;
  display: block;
  background-color: #F8F5E4;
  line-height: 40px;
  text-align: center;
  font-size: 0;
}
/* line 28, ../source/sass/test.scss */
.i-container .menu-con .i-header-lists .i-head-li {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  width: 16%;
  padding: 30px 10px 30px 10px;
}
/* line 33, ../source/sass/test.scss */
.i-container .menu-con .i-header-lists .i-head-li .i_header-menu {
  display: block;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 60px !important;
  margin: 0 auto;
  font-size: 16px;
  color: #555;
  font: bold 20px "myfont";
  text-decoration: none;
}
/* line 41, ../source/sass/test.scss */
.i-container .menu-con .i-header-lists .i-head-li .i_header-menu:hover {
  -moz-border-radius: 50% / 50%;
  -webkit-border-radius: 50% 50%;
  border-radius: 50% / 50%;
  background-color: #DEDBCC;
}
/* line 46, ../source/sass/test.scss */
.i-container .menu-con .i-header-lists .i-head-li.affix {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px 0px 10px 0px;
}
/* line 52, ../source/sass/test.scss */
.i-container .menu-con .tool-con {
  position: absolute;
  right: 100px;
  bottom: 20px;
}
/* line 56, ../source/sass/test.scss */
.i-container .menu-con .tool-con .tool {
  display: inline-block;
  margin-left: 20px;
}
