@charset "utf-8";
@import "compass/reset";
@font-face {
   font-family: "myfont";
   src: url('../font/GOTHIC.ttf') format('truetype');
   font-weight: 12px;
   font-style: normal;
}
a{
	color:#555;
}