@import "compass/css3";
@mixin to-center-block(){
	display:block;
	text-align:center;
}
body{
	height:900px;
	font-family:"myfont";
}
.i-container{
	position:fixed;
	top:0;
	width:100%;
	.menu-con{
		position: relative;
		.i-header-lists{
			position: relative;
			display:block;
			background-color:#F8F5E4;
			line-height: 40px;
			text-align:center;
			font-size:0;
			@mixin large-menu($radius){
				width:$radius;
				height: $radius;
				line-height: $radius !important;
			}
			.i-head-li{
				@include transition(all 0.3s);
				display:inline-block;
				width:16%;
				padding:30px 10px 30px 10px;
				.i_header-menu{
					@include to-center-block();
					@include large-menu(60px);
					margin: 0 auto;
					font-size:16px;
					color:#555;
					font: bold 20px "myfont";
					text-decoration:none;
					&:hover{
						@include border-radius(50%,50%); 
						background-color: #DEDBCC;
					}
				}
				&.affix{
					@include transition(all 0.3s);
					padding:10px 0px 10px 0px;
				}
			}
		}
		.tool-con{
			position: absolute;
			right: 100px;
			bottom:20px;
			.tool{
				display:inline-block;
				margin-left:20px;
			}
		}
	}
}